@page
<<<<<<< HEAD
@using ContosoCrafts.Website.Components
=======
>>>>>>> 489aaa5120a68eab0a7e33807c6710c4252bb923
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Contoso Crafts</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<<<<<<< HEAD
@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>
=======
<div class="card-columns">
    @foreach(var product in Model.Products){
        <div class="card">
            <div class="card-img" style="background-image: url('@product.Image')"></div>
            <div class="card-body">
                <h5>@product.Title</h5>
            </div>
        </div>
    }
</div>
>>>>>>> 489aaa5120a68eab0a7e33807c6710c4252bb923
